body {
    background-color: #1a1a1a;
    font-family: Tahoma, sans-serif;
    color: rgb(248, 248, 248);
}
h1, h2, h3 {
    font-size: 24px;
    color: #ffffff;
    font-style: italic;
    line-height: 1.5;
    text-align: center;
}


a:link {
    color: #0011ff;
}
a:visited{
    color: #c300ff;
}
.container {
    display: flex;
    gap: 20px;
}
.links {
    width: 40%;
}
iframe {
    width: 50%;
    height: 200px;
    border: 1px solid #555;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #000000;
    color: white;
}
th, td {
    border: 1px solid #550404;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #830303;
}
caption {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

#main-title {
    font-size: 30px;
    color: red;
    text-align: center;
}
p.custom-style {
    color: #6e050e !important;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
}

ul, ol {
    padding-left: 20px;
    font-size: 16px;
}
ul {
    list-style-type: square;
    color: #7e0606;
}
ol {
    list-style-type: decimal;
    color: #910606;
}
dl dt {
    font-weight: bold;
    color: #9c0404;
}
dl dd {
    margin-left: 20px;
    font-style: italic;
}
